<section id="cart">

  <h1>Your Cart</h1>
  <table class="cart-items">
    <tr>
      <th>Quantity</th>
      <th>Flavor</th>
      <th>Type</th>
      <th>Size</th>
      <th>Price</th>
      <th>Subtotal</th>
    </tr>
    <% @cart.items.each do |item| %>
    <tr>
      <td><%= item.quantity %></td>
      <td><%= item.flavor.name %></td>
      <td><%= item.type.name %></td>
      <td><%= item.size.name %></td>
      <td>$<%= item.price %></td>
      <td>$<%= item.price * item.quantity %></td>
    </tr>

    <% end %>
  </table>
</section>

<section id="payment">
  <form action="" method="POST" id="payment-form">
    <span class="payment-errors"></span>

    <div class="form-row">
      <label>
        <span>Card Number</span>
        <input type="text" size="20" data-stripe="number" value="4242424242424242" />
      </label>
    </div>

    <div class="form-row">
      <label>
        <span>CVC</span>
        <input type="text" size="4" data-stripe="cvc" value="111"/>
      </label>
    </div>

    <div class="form-row">
      <label>
        <span>Expiration (MM/YYYY)</span>
        <input type="text" size="2" data-stripe="exp-month" value="12" />
      </label>
      <span> / </span>
      <input type="text" size="4" data-stripe="exp-year" value="2020" />
    </div>
  <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
    <button type="submit">Submit Payment</button>
  </form>
</section>
