<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <h1>JERKY <small>get your jerky here</small></h1>
      <h3>Serving order <small><%= session[:cart_id] %></small></h3>
      <h4>Subtotal: <%= number_to_currency(@cart.subtotal) %></h4>
      <br />
      <h4 id="banner-notice" class="lead">This is in development. It's a test. You can't spend money here (yet) :(</h4>
    </div>
    <div class="col-sm-4">
      <h4>Order:</h4>
      <%= simple_form_for @item do |f| %>
        <div class="form-group jumbotron">
          <%= f.input :flavor_id, as: :select, input_html: {class: "form-control"}, collection: Flavor.all %>
          <%= f.input :type_id, as: :select, input_html: {class: "form-control"}, collection: Type.all %>
          <%= f.input :size_id, as: :select, input_html: {class: "form-control"}, collection: Size.all %>
          <%= f.input :quantity, input_html: {class: "form-control"} %>
          <%= f.submit label: 'Add to Cart', input_html: {class: "form-control"} %>
          <input type="hidden" name="item[cart_id]" value="<%= @cart.id %>" />
          <%= link_to "Checkout", checkout_path %>
        </div>
      <% end %>
    </div>
    <div class="col-sm-4">
      <h4>Cart:</h4>

      <% unless @cart.items.count == 0 then %>
        <div class="well">
          <ul class="list-group">
          <% @cart.items.each do |item| %>
            <li class="list-group-item">
              <span class="badge"><%= number_to_currency(item.price) %></span>
              <h5>(<%= item.quantity %>)
                <%= item.size.name %>
                <%= "Bag".pluralize(item.quantity) %> of
                <%= item.flavor.name %> flavor
                <%= item.type.name %>
                <%= link_to "remove", item, method: :delete %>
                </button>
              </h5>
            </li>
          <% end %>
        </ul>
        </div>
      <% end %>
    </div>
  </div>


