<%# add navigation links to this file %>
<li><%= link_to 'About', page_path('about') %></li>
<% if current_user %>
  <li><a>Welcome <%= current_user.email %></a></li>
  <li><%= link_to 'Edit account', '/' %></li>
  <li><%= link_to 'Sign out', signout_path %></li>
<% else %>
  <li><%= link_to "Sign in with Twitter", "/auth/twitter" %></li>
  <li><%= link_to "Sign in with Facebook", "/auth/facebook" %></li>
<% end %>
<% if user_signed_in? %>
  <% if true %>
    <li><%= link_to 'Users', users_path %></li>
  <% end %>
<% end %>
