<%# add navigation links to this file %>
<% if current_user %>
  <li><img class="image-inline" src="<%= current_user.image || 'http://placekitten.com/g/50/50' %>"
           alt="<%= current_user.name %>" /></li>
  <li><a>@<%= current_user.nickname || current_user.name %></a></li>
  <li><%= link_to 'Sign out', signout_path %></li>
<% else %>
  <li><%= link_to "Sign in with Twitter", "/auth/twitter" %></li>
  <li><%= link_to "Sign in with Facebook", "/auth/facebook" %></li>
<% end %>
