<%# add navigation links to this file %>
<% if current_user %>
  <li><img class="image-inline" src="<%= current_user.image || 'http://placekitten.com/g/50/50' %>"
           alt="<%= current_user.name %>" /></li>
  <li><%= link_to "@" + (current_user.nickname || current_user.name), user_path(current_user) %></li>
  <li><%= link_to 'Sign out', signout_path %></li>
<% else %>
  <li><%= link_to "Log in", new_session_path %></li>
  <li><%= link_to "tw", "/auth/twitter" %></li>
  <li><%= link_to "fb", "/auth/facebook" %></li>
  </li>
  <li><%= link_to "Register", new_identity_path %></li>
<% end %>
